extends layout

block content
    
  div.container
    p.lead.error_message.m-t-2= message_posts
    h1(class="bayside-header display-4") 
    h1 #{username}
    table(class="table table-striped")
    div.row.pb-2
      each Posts in posts
        div.card-deck.pb-5.mx-auto.col-12
          div.card.animated.fadeInUp.align-items-center.d-flex.justify-content-center.pb-5.py-auto(href="/posts")
            h4.lead.animated.pulse.text-capitalize.card-title.pt-5 #{Posts.title}
            h4.lead.card-text #{Posts.body}
            p.lead.font-italic.card-text #{Posts.creator}
            hr.post-seperator
            p.card-timing.pt-3 #{Posts.Created_date.toDateString()}
            if !currentUser && Posts.soundcloud
              iframe(width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src=Posts.soundcloud)
              
            if !currentUser && !Posts.soundcloud


            if currentUser && Posts.soundcloud
              iframe(width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src=Posts.soundcloud).pb-5
              form(method="GET" action="/posts/" + Posts.id)
                button.btn.btn-mintGreen(type="submit")
                  i(class="fas fa-wrench")
              
            if currentUser && !Posts.soundcloud
              form(method="GET" action="/posts/" + Posts.id)
                button.btn.btn-mintGreen(type="submit")
                  i(class="fas fa-wrench")
