extends layout

block content
  div.container
    h2.lead.post-title.display-4.pb-2= post_title
    h3.lead.username.display-5.pb-1= username
    br
    p.post-body= post_body
    br
    p.post-body= post_creator
    p.lead.created_date.display-6.m-t-2= created_date
